<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index | Burger</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-black">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRz5rSe-PSloRwAOtUxrvSQWkQHZpp5xNTkFSf1A5Iq8qsoIYWyUP-ZQTzONGUrxOOhHto&usqp=CAU" 
       alt="4K-BURGER" 
       class="w-screen h-screen object-cover">
</body>
</html>