<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="refresh" content="0;url=https://github.com/MaheshDhingra" />
  <title>Redirecting...</title>
  <script>
    // Backup JavaScript redirect (in case meta doesn't work)
    window.location.href = "https://discord.com/oauth2/authorize?client_id=1389328536644616222";
  </script>
</head>
<body>
  <p>If you are not redirected automatically, <a href="https://discord.com/oauth2/authorize?client_id=1389328536644616222">click here</a>.</p>
</body>
</html>
